.navbar {
  background-color: $black;
  padding: 10px;
  &__logo {
    height: 40px;
  }
  &-toggler {
    border: none;
    .navbar-toggler-icon {
      font-size: $x-large;
    }
  }
  &-collapse {
    justify-content: end;
    font-size: $medium;
  }
  .navbar-nav {
    gap: 10px;
    padding-right: 20px;
    .navbar-link {
      color: white;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;

      &:hover {
        text-decoration: none;
        color: $tangerine;
      }
    }
  }
}